footer
	#footer-white
		.container
			.row
				.col-sm-3.menu
					h3 Overview
					ul
						li 
							a(href='#') Features
						li 
							a(href='#') Services
						li 
							a(href='#') Pricing
						li 
							a(href='#') Support
						li 
							a(href='#') Blog
						li 
							a(href='#') Coming Soon
				.col-sm-3.menu
					h3 Menu
					ul
						li 
							a(href='#') About Us
						li 
							a(href='#') Contact Us
						li 
							a(href='#') Pricing
						li 
							a(href='#') Jobs
						li 
							a(href='#') Portfolio
						li 
							a(href='#') Status
				.col-sm-2.menu
					h3 Social
					ul
						li 
							a(href='#') Twitter
						li 
							a(href='#') Google+
						li 
							a(href='#') Facebook
						li 
							a(href='#') LinkedIn
				.col-sm-4.newsletter
					.signup.clearfix
						p.text-left Stay informed, sign up for the newsletter.
						.input-group
							input(type='text', class='form-control', placeholder='Email Address')
							span.input-group-btn
								button(class='btn btn-primary', id='search-btn', type='button') Sign Up
section(id='footer-section')
	.container
		.row
			.col-md-8.col-sm-6.col-xs-12
				p
				br
				|  Copyright &copy; 2015 | 
				a(itemprop='url', href='http://iso-parts.com') iso-parts.com
				|  | All rights reserved
			.col-md-4.col-sm-6.col-xs-12
				#footer-social-icons
					ul
						li
							a(href='https://twitter.com/@ISO-Parts', title='Twitter', data-placement='top', data-rel='tooltip', class='twitter', target='_blank') <i class="fa fa-twitter"></i>
						li
							a(href='https://www.facebook.com/ISOGroupMilitaryParts', title='Facebook', data-placement='top', data-rel='tooltip', class='facebook', target='_blank') <i class="fa fa-facebook"></i>
						li
							a(href='https://plus.google.com/110342376226117431083', title='Google+', data-placement='top', data-rel='tooltip', class='google-plus', target='_blank') <i class="fa fa-google-plus"></i>
						li
							a(href='https://www.linkedin.com/company/iso-group-inc', title='LinkedIn', data-placement='top', data-rel='tooltip', class='linkedin', target='_blank') <i class="fa fa-linkedin"></i>
		

link(rel='stylesheet', href='/css/footer.css')

block footer