header#stuck_container
	.container
		nav.navbar.navbar-default.navbar-static-top.tm_navbar.clearfix(role='navigation')
			.col-md-2
				a(href='/' class='.navbar-brand')
						img(src='/images/iso-parts-logo.png', id='')
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar				
			.col-md-6
			.col-md-4
				.collapse.navbar-collapse
					ul.nav.sf-menu.clearfix
						li.active
							a(href='/') Home
						li
							a(href='/about') About
						li
							a(href='/contact') Contact
						li
							a(href='/nsn') NSN
