extends layout


block content
	.content
		.container
			h1!= title		
			.NsnPage
				.NsnPage-container
					.row
						each val in ['1234-12-123-12345', '1234-12-123-12346', '1234-12-123-12347', '1234-12-123-12347', '1234-12-123-12349', '1234-12-123-12350']
							.col-md-6
								.well.well-sm.text-center
									a(class='btn btn-primary', href= val) #{val}