#footer {
  background: #414B5B;
  margin-top: 120px;
  padding-top: 47px;
  padding-bottom: 35px;
  -webkit-font-smoothing: antialiased; }
  #footer .copyright {
    color: #B5C5CF;
    font-size: 14px;
    font-weight: 500; }
    @media (max-width: 991px) {
      #footer .copyright {
        margin-bottom: 20px; } }
    @media (max-width: 767px) {
      #footer .copyright {
        text-align: center; } }
  @media (max-width: 767px) {
    #footer .menu {
      text-align: center;
      margin-top: 40px; } }
  #footer .menu ul {
    list-style-type: none;
    padding: 0; }
    #footer .menu ul li {
      display: inline-block; }
      #footer .menu ul li.active a {
        color: #fff; }
      #footer .menu ul li a {
        color: #ccc;
        padding: 15px 17px;
        font-weight: 500;
        -webkit-transition: color 0.2s linear;
        -moz-transition: color 0.2s linear;
        -ms-transition: color 0.2s linear;
        -o-transition: color 0.2s linear;
        transition: color 0.2s linear; }
        #footer .menu ul li a:hover {
          color: #fff;
          text-decoration: none; }
        @media (max-width: 991px) {
          #footer .menu ul li a {
            padding: 15px 17px 15px 0px; } }
  #footer .social {
    text-align: right; }
    @media (max-width: 767px) {
      #footer .social {
        text-align: center;
        margin-top: 40px; } }
    #footer .social a {
      border: 0;
      text-decoration: none;
      opacity: 1;
      filter: alpha(opacity=100);
      margin-left: 15px;
      position: relative;
      top: -10px;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
      -ms-transition: all .3s ease;
      transition: all .3s ease; }
      #footer .social a:hover {
        opacity: 0.7;
        filter: alpha(opacity=70); }

#footer-white {
  background: #fff;
  padding-top: 70px;
  padding-bottom: 30px;
  -webkit-font-smoothing: antialiased; }
  @media (max-width: 991px) {
    #footer-white {
      padding-top: 30px; } }
  @media (max-width: 767px) {
    #footer-white .menu {
      text-align: center;
      margin-top: 40px; } }
  #footer-white .menu h3 {
    margin-top: 0;
    color: #888;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 600; }
  #footer-white .menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px; }
    #footer-white .menu ul li {
      display: block;
      margin-bottom: 9px; }
      #footer-white .menu ul li a {
        color: #89A1C0;
        display: inline-block;
        font-weight: 500;
        font-size: 13px;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        #footer-white .menu ul li a:hover {
          color: #000;
          text-decoration: none; }
        @media (max-width: 991px) {
          #footer-white .menu ul li a {
            padding: 0; } }
      #footer-white .menu ul li .hiring {
        font-family: "Lato", "Helvetica Neue", Arial;
        font-weight: 700;
        letter-spacing: .3px;
        text-transform: uppercase;
        word-spacing: 1.5px;
        font-size: 11px;
        margin-left: 4px;
        padding: 3px 8px;
        border-radius: 4px;
        color: #fff;
        background: #49B7E2; }
        #footer-white .menu ul li .hiring:hover {
          color: #fff;
          background: #0E82AF; }
  #footer-white .newsletter {
    text-align: right; }
    @media (max-width: 767px) {
      #footer-white .newsletter {
        text-align: center;
        margin-top: 40px; } }
    /*#footer-white .newsletter .signup {
      margin-bottom: 40px; }
      #footer-white .newsletter .signup p {
        font-size: 13px;
        color: #666;
        width: 90%;
        float: right;
        text-align: left;
        line-height: 20px; }
        @media (max-width: 767px) {
          #footer-white .newsletter .signup p {
            float: none;
            text-align: center;
            width: 100%; } }
      #footer-white .newsletter .signup form {
        float: right;
        width: 90%;
        position: relative; }
        @media (max-width: 767px) {
          #footer-white .newsletter .signup form {
            float: none;
            width: 100%; } }
        #footer-white .newsletter .signup form input[type="text"] {
          font-size: 13px; }
          #footer-white .newsletter .signup form input[type="text"]::-webkit-input-placeholder {
            font-size: 13px;
            line-height: 17px; }
          #footer-white .newsletter .signup form input[type="text"]:-moz-placeholder {
            font-size: 13px;
            line-height: 17px; }
          #footer-white .newsletter .signup form input[type="text"]::-moz-placeholder {
            font-size: 13px;
            line-height: 17px; }
          #footer-white .newsletter .signup form input[type="text"]:-ms-input-placeholder {
            font-size: 13px;
            line-height: 17px; }
        #footer-white .newsletter .signup form input[type="submit"] {
          border: 0;
          background: #84B0E2;
          color: #FFF;
          border-radius: 3px;
          padding: 6px 10px;
          position: absolute;
          top: 5px;
          text-shadow: 1px 1px rgba(0, 0, 0, 0.28);
          right: 5px;
          font-size: 13px;
          -webkit-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          -ms-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          transition: all 0.2s linear; }
          #footer-white .newsletter .signup form input[type="submit"]:hover {
            background: #6284AC; }
    #footer-white .newsletter a {
      border: 0;
      text-decoration: none;
      opacity: 1;
      filter: alpha(opacity=100);
      margin-left: 15px;
      position: relative;
      top: -10px;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
      -ms-transition: all .3s ease;
      transition: all .3s ease; }
      #footer-white .newsletter a:hover {
        opacity: 0.7;
        filter: alpha(opacity=70); }
  #footer-white .credits {
    margin-top: 30px; }
    #footer-white .credits .col-md-12 {
      padding-top: 20px;
      font-size: 13px;
      text-align: center;
      color: #A1AAB6; }*/


    /* ==========================================================================
   18. Footer
========================================================================== */
/* 18.1 Wrapper
---------------------------------------------------------------------------*/
#footer-section {
    margin: 0;
    width: 100%;
    padding: 30px 0;
    overflow: hidden;
    position: relative;
    background-color: #222222;
}

    /* 18.2 Anchor
---------------------------------------------------------------------------*/
    #footer-section a {
        color: #ffffff;
    }

    /* 18.3 Typography
---------------------------------------------------------------------------*/
    #footer-section p {
        margin: 0;
        line-height: 30px;
    }

    /* 18.4 Social Icons
---------------------------------------------------------------------------*/
    #footer-section #footer-social-icons ul {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
        list-style: none;
        text-align: right;
    }

        #footer-section #footer-social-icons ul li {
            padding: 0;
            margin-left: 1px;
            display: inline-block;
        }

            #footer-section #footer-social-icons ul li:first-child {
                margin-left: 0;
            }

            #footer-section #footer-social-icons ul li a {
                width: 30px;
                height: 30px;
                display: block;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -o-border-radius: 4px;
                border-radius: 4px;
            }

                #footer-section #footer-social-icons ul li a i {
                    line-height: 30px;
                }
